 
 .Calculatrice{
    height: 750px;
    width: 600px;
    background-color: rgb(52, 52, 117);
    border-radius: 30%;
}
.row{
    display: flex;
    height: 150px;
    border-bottom: solid rgb(165, 145, 145) 2px ;
    background-color: blueviolet;
}
.row1{
    display: flex;
    height: 60px;
    width: 100%;
    /* border-bottom: solid rgb(165, 145, 145) 2px ; */
    background-color: red;
}
.row1bis{
    display: flex;
    height: 90px;
    /* border-bottom: solid rgb(165, 145, 145) 2px ; */
    background-color: red;
}
/**/
input{
    margin-top: 10px;
    margin-left: 250px;
    height: 60px;
    width: 300px;
    background-color: rgba(43, 219, 190, 0.938);
}

.col{
    width: 100%;
    text-align: center;
    margin: auto;
}
button{
    height: 70px;
    width: 50%;
    border-radius: 30%;
}